/* Font family */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.container {
    max-width: 400px;
    width: 100%;
    padding: 20px;
}

.card {
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    padding: 30px 20px;
    color: #222;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    margin-bottom: 15px;
}

h1 {
    margin: 10px 0 5px;
    font-size: 22px;
}

.bio {
    font-size: 14px;
    color: #333;
    margin-bottom: 25px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s ease;
}

.instagram {
    background-color: #c72195;
}

.youtube {
    background-color: #FF0000;
}

.tiktok {
    background-color: #111;
}

.facebook {
    background-color: #3b5998;
}

.link-button:hover {
    opacity: 0.85;
    transform: scale(1.03);
}

footer p {
    font-size: 12px;
    color: #444;
    margin-top: 20px;
}
